.navigation {
  list-style-type: none;
  margin-top: 50px;
  padding: 0;
}

.btn-primary {
  width: 50%;
  background-color: rgba(114, 37, 73, 0.835);
  border: 2px rgba(119, 7, 59, 0.835) solid;
  margin-top: 10px;
  font-weight: bold;
}

.btn-primary:hover {
  opacity: 0.8;
  cursor: pointer;
}

.nav_item {
  margin-top: 20px;
  border-bottom: 1px solid rgba(119, 7, 59, 0.835);
  padding: 15px;
  font-size: 1.4em;
  border-radius: 50%;
  text-align: center;
  width: 50%;
  margin: auto;
  margin-top: 20px;
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.75);
}

.forms {
  width: 50%;
}

.col-6 {
  margin: auto;
}

.row {
  text-align: center;
}

.form-container {
  width: 50%;
  margin: auto;
}

@media screen and (max-width: 992px) {
  .nav_item {
    width: 100%;
  }

  .btn-primary {
    width: 100%;
  }

  .form-container {
    width: 100%;
  }
}
