.row {
  text-align: center;
}

select {
  margin-top: 0;
  width: 30%;
  margin: auto;
}

.form_check {
  text-align: left;
}

button {
  width: 15%;
  background-color: rgba(114, 37, 73, 0.835);
  border: 2px rgba(119, 7, 59, 0.835) solid;
}

.form-check-label1 {
  display: block;
}

form {
  margin-top: 5%;
}

.overflow {
  height: 400px;
  overflow: auto;
  border: 2px solid black;
  padding: 20px;
  border-radius: 10px;
  width: 90%;
  margin: auto;
}

.plan_text {
  display: inline;
  border: 1px rgba(119, 7, 59, 0.835) solid;
  margin: 5px;
  color: #fff;
  font-size: 1.5em;
  vertical-align: middle;
  padding-left: 5px;
  padding-right: 5px;
  background-color: rgba(114, 37, 73, 0.835);
}

.plan {
  height: 25%;
}

.btn-danger {
  float: right;
  font-size: 1.2em;
}

.btn-primary {
  background-color: rgba(114, 37, 73, 0.835);
  border: 2px rgba(119, 7, 59, 0.835) solid;
  margin-top: 10px;
  font-weight: bold;
}

.btn-primary:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media screen and (max-width: 992px) {
  select {
    width: 80%;
  }

  button {
    width: 100%;
  }

  .plan {
    height: auto;
    border-bottom: 2px solid black;
    margin: 5px;
    padding: 10px;
  }

  .overflow {
    width: 100%;
    border: none;
  }

  .plans {
    display: flex;
    flex-direction: column;
  }
}
