<form class="form" [formGroup]="Login_form" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="email">Adres Email</label>
    <input type="email" class="form-control" formControlName="email" required
      [class.is-invalid]="Login_form.get('email').invalid && Login_form.get('email').touched">
    <div *ngIf="Login_form.get('email').invalid && Login_form.get('email').touched">
      <small *ngIf="Login_form.get('email').errors?.required" class="text-danger">Email jest wymagany</small>
      <small *ngIf="Login_form.get('email').errors?.email" class="text-danger">Niepoprawny email</small>

    </div>
  </div>
  <div class="form-group">
    <label for="name">Hasło</label>
    <input type="password" class="form-control" formControlName="pass" required
      [class.is-invalid]="Login_form.get('pass').invalid && Login_form.get('pass').touched">
    <div *ngIf="Login_form.get('pass').invalid && Login_form.get('pass').touched">
      <small *ngIf="Login_form.get('pass').errors?.required" class="text-danger">Hasło jest wymagane</small>
      <small *ngIf="Login_form.get('pass').errors?.minlength" class="text-danger">Hasło musi mieć więcej niż 3
        znaki</small>

    </div>
  </div>
  <div class="form-group">
    <button class="btn btn-light" type="submit" [disabled]="!Login_form.valid">Zaloguj</button>
  </div>
  <div *ngIf="error">
    <small class="text-danger">{{error}}</small>
  </div>

</form>