.text{
    text-align: center;
    margin-top:50px;
    font-size: 2em;
}
.list{
    list-style-type: none;
    text-align: center;
}
li{
    margin-top:100px;
    font-size: 40px;
    
}
img{
    width:50px;
    margin-right: 10px;
}
a{
    text-decoration: none;
    color:black;
}
a:hover{
    color:blue;
}
@media screen and (max-width:992px){

    li{
        font-size: 1em;
        
    }

}