<div class="row">
  <h1 class="text col-12">Nasze centrum pomocy jest otwarte 24/7 ,więc gdy masz jakiś problem ktoś zawsze ci pomoże</h1>
</div>
<div class="row justify-content-center">
  <ul class="list col-2">
    <a href="https://facebook.com" target="blank">
      <li><img src="./assets/images/facebook.svg">Facebook</li>
    </a>
    <a href="https://twitter.com/" target="blank">
      <li><img src="./assets/images/twitter.svg">Twitter</li>
    </a>
    <a href="tel:00-000-000-000">
      <li><img src="./assets/images/whatsapp.svg">Telefon</li>
    </a>
  </ul>
</div>