.nav_bar {
  background-color: rgba(234, 234, 238, 0.781);
  -webkit-box-shadow: 0px 9px 5px -5px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 0px 9px 5px -5px rgba(0, 0, 0, 0.45);
  box-shadow: 0px 9px 5px -5px rgba(0, 0, 0, 0.45);
}

.footer {
  position: fixed;
  bottom: 0;
  background-color: rgba(234, 234, 238, 0.781);
  text-align: center;
  height: 30px;
}

.logo {
  width: 10%;
  height: 90%;
  margin: 5px;
  margin-left: 20px;
}

.navigation {
  list-style-type: none;
  display: flex;
}

.nav_item {
  margin: 10px;
  padding: 5px;
  background-color: rgba(114, 37, 73, 0.835);
  border: 2px rgba(119, 7, 59, 0.835) solid;
  width: 25%;
  text-align: center;
  margin-top: 40px;
  color: rgb(255, 255, 255);
}

.link_nav {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.nav_item:hover {
  opacity: 0.8;
  cursor: pointer;
}

.nav_item:focus {
  outline: none;
}

.title {
  font-size: 2.5em;
  color: rgba(155, 53, 101, 0.835);
  text-shadow: 0px -4px 5px rgba(28, 110, 164, 0.43);
}

.span_logout:hover {
  cursor: pointer;
}

@media screen and (max-width: 992px) {
  .nav_item {
    margin-top: 5px;
    width: 50%;
  }

  .link_nav {
    width: 100%;
  }

  .nav_item:last-child {
    margin-bottom: 20px;
  }

  .logos {
    text-align: center;
  }

  .navigation {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  .logo {
    width: 50px;
    height: 80%;
    margin-left: 0;
  }
}

@media screen and (max-width: 550px) {
  .nav_item {
    width: 80%;
  }
}
