<div class="row">
    <div class="col-lg-6 col-12 text-center">
        <img src="./assets/images/jedzonko1.jpg" class="food_img" alt="food">
    </div>
    <div class="col-lg-6 col-12 text-center ">
        <h1 class="title">Nasze jedzenie jest najlepsze!</h1>
        <p class="text">Nigdzie indziej nie znajdziesz takiego dobrego jedzenia
            jak u nas. Nasi dietetycy przygotują ci najlepszą dietę ,aby twoje ciało
            było zdrowe, silne i gotowe na kolejne wyzwania. Nasi kucharze
            przygotują ci najsmaczniejsze jedzenie z wysokiej jakości składników.
            Uwierz nam twoje dobre samopoczucie i zdrowe ciało są dla nas najważniejsze.
        </p>
        <p class="text">
            Spróbuj już dzisiaj. Wystarczy, że się zarejestrujesz i zamówisz plan dla siebie.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-lg-6 col-12 text-center">
        <img src="./assets/images/ziemia.jpg" alt="earth_img" class="earth_img">
    </div>
    <div class="col-lg-6 col-12 text-center">
        <h1 class="title">Usługi na całym świecie!</h1>
        <p class="text">Nasze usługi są dostępne na całym świecie. Dzięki naszym dostawcom
            twoje jedzienie dojedzie do ciebie w mgnieniu oka. Nie ważne czy mieszkasz na biegunie
            czy w Chinach ,twoje jedzienie będzie na ciebie czekało przed drzwiami
            każdego poranka.
        </p>
        <p class="text">
            Nasza sieć dostawców jest niezawodna.Nigdy więcej już nie będziesz musiał
            sam gotować sobie jedzenia!.
        </p>
    </div>
</div>